.links-container{
  flex-flow: wrap;
  display: grid;
  gap: 10px;
  width: 90%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.links-container p{
  font-size: large;
  margin: 5px;
}

.btn-in {
  border: 1px;
  background-color: rgb(0, 132, 255);
  padding: 2px 4px;
  border-radius: 50px;
  transition: transform 0.4s;
  margin: 5px;
}

.btn-delete{
  border: 1px;
  background-color: rgb(0,132,255);
  padding: 2px 4px;
  border-radius: 50px;
  transition: transfom 0.4s;
  margin: 5px;
}

.btn-delete:hover{
  transform: scale(1.05);
  background-color: red;
}

.btn-in:hover{
  transform: scale(1.05);
  background-color: rgb(14, 223, 14);
}