.admin-header{
  width: 100%;
  max-width: 720px;
  margin-top: 14px;
  margin-bottom: 44px;
  padding: 0 14px;
  position: relative;
}

.nav-header{
  width: 100%;
  background-color: #FFF;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: space-around;
}

.nav-header button{
  border: 0;
  background-color: transparent;
  margin-right: 24px;
  margin-left: 8px;
  color: rgb(0,132,255);
}

button:hover{
  color: #ff0000;
}

.nav-header a{
  margin-right: 14px;
  color: #21242d;
  transition: color 0.2s;
}

.nav-header a:hover{
  color: rgb(0,132,255);
}